.top-bar {
	display: flex;
	height: 5rem;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-color);
}

.app-title {
	color: var(--on-primary-color);
}

.component-example {
	border: 1px solid var(--on-primary-background-color);
	margin: 0.5rem 0rem;
}
.examples-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	padding: 0rem 0.5rem;
}
.component-example-title, .component-example-footer {
	display: flex;
	font-size: var(--font-size-small);
	padding: 0.3rem 0.5rem;
}
.component-example-title {
	justify-content: center;
}
.component-example-footer {
	justify-content: right;
}
.hidden {
	display: none !important;
}
.code-container {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	background-color: var(--tertiary-color-20);
}
code {
	font-size: var(--font-size-extra-small);
	white-space: pre-wrap;
}
.no-underline {
	text-decoration: none !important;
}
#theming-button {
	position: fixed;
	right: 1rem;
	z-index: 100;
	box-shadow: var(--primary-color) 0px 0px 0px 4px, var(--tertiary-color) 0px 0px 0px 8px, var(--secondary-color) 0px 0px 0px 12px;
	border: 0px;
}
#theme-editor {
	position: fixed;
	background-color: var(--secondary-color-20);
	width: 100%;
	top: 0rem;
}
.colors, #theme-presets {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}